

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
    {% endblock %}
    {% block style %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'getform' %}">Formulario GET</a>
            </li>
            <li>
                <a href="{% url 'postform' %}">Formulario POST</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% block script %}
    {% endblock %}
</body>
</html>